*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}
article {
  display: flex;
  padding: 20px;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.firstDiv {
  flex: 1;
}
.secDiv {
  flex: 1.5;
}
.btnContainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.btnContainer button {
  padding: 10px 30px;
  border: none;
  letter-spacing: 3px;
  background-color: rgb(11, 137, 168);
  transition: all 0.5s linear;
}
.btnContainer button.active {
  background-color: rgb(139, 163, 163);
  color: rgba(68, 64, 64, 0.034) (68, 64, 64, 0.034) (68, 64, 64, 0.034);
}
.btnContainer button:hover:not(.active) {
  background-color: lightblue;
  color: blue;
  /* color: linear-gradient(from left red, blue); */
  transform: scale(1.1);
}
.divContent {
  padding: 20px;
  display: none;
}
.divContent.active {
  display: block;
}
.divContent h3 {
  font-size: 20px;
  font-family: serif;
  margin-bottom: 10px;
}
